<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "Shepley Computers", root_path, id: "logo"%>

        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Home",       root_path %></li>
                <li><%= link_to "Shop",       '#' %></li>
                <li><%= link_to "Services",   '#' %></li>
                <li><%= link_to "Pay",        '#' %></li>
                <li><%= link_to "About",      '#' %></li>
                <li><%= link_to "Contact Us", '#' %></li>
            </ul>
        </nav>

    </div>

</header>